ul {
  list-style: none;
  padding: 0;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
header {
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
}
header mat-toolbar {
  max-width: 85%;
  padding: 0;
}
