<div class="loading-wrapper" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</div>
<form [formGroup]="postForm" (submit)="onSavePost()" *ngIf="!loading">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter Title"
        formControlName="title"
      />
      <mat-error *ngIf="postForm.get('title')?.invalid"
        >This field is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        type="text"
        placeholder="Enter Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="postForm.get('content')?.invalid"
        >This field is required.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </mat-card>
</form>
