:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  font-weight: 300;
  text-transform: uppercase;
  color: crimson;
  margin-block: 5rem;
  padding: 12px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 12px;
}
