<div class="loading-wrapper" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</div>

<mat-accordion multi="true" *ngIf="posts.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuth && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="deletePost(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="tableSize"
  [pageSizeOptions]="tableSizes"
  (page)="onPageChanged($event)"
  *ngIf="posts.length > 0"
></mat-paginator>

<div class="info-text mat-body-1" *ngIf="posts.length <= 0 && !loading">
  No posts added...
</div>
